@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
html{
    font-size: 62.5%;
    font-family: 'Poppins',sans-serif;
}

:root{
    --btn: #000000;
    --main: #a15dfb;
    --hover: #8b00dc;
}
 
.hero{
    display: flex;
    flex-direction: column;
}

.head{
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    font-size: 6rem;
    font-weight: 700;
}

.imp{
    color: var(--main);
}

.headsub{
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    margin: 8rem 30rem 5rem 30rem;
}

#input input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;  
    padding: 1rem;
    height: 4rem;
    font-size: 2rem;
}

.headbtn{
    border: none;
    border-radius: 1rem;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 0rem auto 1rem auto;
    width: 15rem;
    background-color: var(--btn);
    color: #ffffff;
    font-family: 'Poppins',sans-serif;
}

.headbtn:hover{
    cursor: pointer;
    background-color: var(--main);
}

a{
    text-decoration: none;
}
.headtext{
    padding-top: 1.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.copy{
    margin-top: 15rem;
    text-align: center;
    align-items: flex-end;
    font-weight: 300;
    font-size: 1.7rem;
}

.txt{
    font-size: 20rem;
    text-align: center;
    margin: 7rem auto;
}

/* Responsive styles */
@media (max-width: 1200px) {
    .head {
        font-size: 5rem;
    }
    
    .headsub {
        margin: 8rem 10rem 5rem 10rem;
    }
    
    .txt{
        font-size: 15rem;
    }

}

@media (max-width: 768px) {
    .head {
        font-size: 4rem;
    }
    
    .headsub {
        margin: 5rem 5rem 3rem 5rem;
    }

    .txt{
        font-size: 10rem;
    }
}

@media (max-width: 576px) {
    .head {
        font-size: 3rem;
    }
    
    .headsub {
        margin: 3rem 2rem 2rem 2rem;
    }

    .txt{
        font-size: 8rem;
    }
}

@media (max-width: 320px) {
    .head {
        font-size: 2.5rem;
    }
    
    .headsub {
        margin: 2rem 1rem 1rem 1rem;
    }

    .txt{
        font-size: 5rem;
    }
}
